<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Kine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="air" routerLink="/about">
                        <a type="button" class="nav-link" >
                            About
                        </a>
                    </button>
                </li>
                <ng-container *ngIf="this.loginService.isLogged()">
                    <li class="nav-item">
                        <button class="air"  routerLink="/home">
                            <a type="button" class="nav-link">
                                Home
                            </a>
                        </button>

                    </li>
                    <li class="nav-item">
                        <button class="air" routerLink="/evaluation">
                            <a type="button" class="nav-link" >
                                Realizar evaluacion
                            </a>
                        </button>

                    </li>
                    <li class="nav-item">
                        <button class="air">
                            <a type="button" class="nav-link" routerLink="/medical-care">
                                Atender
                            </a>
                        </button>

                    </li>
                    
                </ng-container>
            </ul>
            <ul class="navbar-nav ml-auto">
                <ng-container *ngIf="!this.loginService.isLogged(); else logged">
                    <li class="nav-item">
                        <button class="air">
                            <a type="button" class="nav-link" routerLink="/signup">
                                Sign up
                            </a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="air">
                            <a type="button" class="nav-link" routerLink="/signin">
                                Log in
                            </a>
                        </button>

                    </li>
                </ng-container>
                <ng-template #logged>
                    <li class="nav-item">
                        <button class="air" (click)="showUserName()">
                            <div class="container">
                                <a type="button" class="nav-link">
                                    <div class="row">
                                        <i class="fas fa-arrow-right" [ngStyle]="{'display':nameDisplay}"></i>
                                        <div class="col">
                                            <i class="fas fa-sign-out-alt"></i>
                                        </div>
                                    </div>
                                </a>
                                <a type="button" class="nav-link" [ngStyle]="{'display':nameDisplay}"
                                     style="cursor: pointer;" (click)="openConfirm()"
                                    routerLinkActive="active">
                                    
                                    Cerrar sesion - {{user.firstName}} {{user.middleName}}
                                    {{user.lastName}} {{user.middleLastName}}
                                </a>

                            </div>
                        </button>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>

<!--CONFIRM MODAL-->
<div class="backdrop" [ngStyle]="{'display':confirmDisplay}"></div>
<div class="modal animated fadeInDown" [ngStyle]="{'display':confirmDisplay}" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center font-18">
                <h4 >Está seguro(a) que desea cerrar la sesión?</h4>
            </div>
            <div class="modal-footer font-18">
                <div class="row pt-4 justify-content-center">
                    <div class="col-auto">
                        <button (click)="closeConfirm()" type="button" class="sky btn btn-smoke" data-dismiss="modal"><i class="fas fa-undo"></i> Volver</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" (click)="loginService.logout(); cleanUser(); closeConfirm();" class="sky btn btn-smoke" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Cerrar sesion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>