<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <img src="../../../assets/img/avatar.jpeg" class="img-fluid" alt="avatar">
        <hr>
        <p>Seccion 1</p>
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam facere, nemo recusandae
          exercitationem voluptatibus voluptatum, suscipit eos impedit accusamus, porro in minus. Saepe eius
          voluptas laborum voluptates distinctio aliquam at nesciunt ratione dolor, nobis consequatur maxime
          laudantium est non veritatis modi aut delectus, porro ut? Maxime possimus doloremque voluptatem.
          Aperiam quas molestias ipsam ut laboriosam architecto, maxime quam sed rerum?</p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="container">
          <div class="row justify-content-between">
            <h2>Perico de los Palotes</h2>
            <h2>FONASA B</h2>
          </div>
        </div>
        <hr>
        <p>Seccion 2</p>
        <div class="container">
          <div class="row justify-content-between">
            <form class="form-inline">
              <section class="input-content">
                <div class="input-content-wrap">
                  <dl class="inputbox">
                    <dd class="inputbox-content">
                      <input id="input0" type="text" required />
                      <label for="input0">Peso</label>
                      <span class="underline"></span>
                    </dd>
                  </dl>
                </div>
              </section>

              <section class="input-content">
                <div class="input-content-wrap">
                  <dl class="inputbox">
                    <dd class="inputbox-content">
                      <input id="input1" type="text" required />
                      <label for="input1">Otro dato</label>
                      <span class="underline"></span>
                    </dd>
                  </dl>
                </div>
              </section>

              <section class="input-content">
                <div class="input-content-wrap">
                  <dl class="inputbox">
                    <dd class="inputbox-content">
                      <input id="input2" type="text" required />
                      <label for="input2">Color</label>
                      <span class="underline"></span>
                    </dd>
                  </dl>
                </div>
              </section>
            </form>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-between">
            <form class="form-inline">
              <section class="input-content">
                <div class="input-content-wrap">
                  <dl class="inputbox">
                    <dd class="inputbox-content">
                      <input id="input4" type="text" required />
                      <label for="input4">Edad</label>
                      <span class="underline"></span>
                    </dd>
                  </dl>
                </div>
              </section>

              <section class="input-content">
                <div class="input-content-wrap">
                  <dl class="inputbox">
                    <dd class="inputbox-content">
                      <input id="input5" type="text" required />
                      <label for="input5">Flexibilidad</label>
                      <span class="underline"></span>
                    </dd>
                  </dl>
                </div>
              </section>

              <section class="input-content">
                <div class="input-content-wrap">
                  <dl class="inputbox">
                    <dd class="inputbox-content">
                      <input id="input6" type="text" required />
                      <label for="input6">Altura</label>
                      <span class="underline"></span>
                    </dd>
                  </dl>
                </div>
              </section>
            </form>
          </div>
          <div class="row">
            <button type="submit" class="btn-hover color-9 mx-auto">Aceptar</button>
          </div>

        </div>

        <hr>
        <p>Seccion 3</p>
        <h3>Lorem ipsum dolor sit.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quis ab pariatur eaque, cumque ipsa
          excepturi ad asperiores! Nam consectetur harum quo nulla nesciunt at eos quos tenetur unde
          architecto.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quis ab pariatur eaque, cumque ipsa
          excepturi ad asperiores! Nam consectetur harum quo nulla nesciunt at eos quos tenetur unde
          architecto.</p>

      </div>
    </div>
  </div>
</div>