<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- about -->
<div class="about">
   <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links logo"></a>
</div>
<!-- end about -->



<div class="row justify-content-center options">
   
      <!--PROFILE -->
      <div class="card" routerLink="/profile">
         <div class="icon"><i class="fas fa-user-md fa-3x"></i></div>
         <p class="title">Realizar evaluación</p>
         <p class="text">Registra los datos de la evaluación</p>
      </div>
      <!-- end card -->
      <!-- card -->
      <div class="card">

         <div class="icon"><i class="fas fa-users fa-3x"></i></div>
         <p class="title">Todos mis pacientes</p>
         <p class="text">Revista todos tus pacientes.</p>

      </div>
      <!-- end card -->
      <!-- card -->
      <div class="card">

         <div class="icon"><i class="fas fa-user-check fa-2x"></i></div>
         <p class="title">Atender</p>
         <p class="text">Realizar atención de paciente.</p>

      </div>
      <!-- end card -->


</div>
<div class="row">
   <div class="card-body">
      <h5><i class="fas fa-user-clock fa-2x"></i> Mis pacientes de hoy</h5>
      <hr>
      <app-data-table></app-data-table>
   </div>
</div>