<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- about -->
<div class="about">
   <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links logo"></a>
</div>
<!-- end about -->



<div class="row justify-content-center options">

   <!--PROFILE -->
   <div class="card" routerLink="/evaluation">
      <div class="icon"><i class="fas fa-user-md fa-3x"></i></div>
      <h5 class="title">Realizar evaluación</h5>
      <h6 class="text">Realiza una evaluación y comientza un nuevo tratamiento.</h6>
   </div>
   <!-- end card -->
   <!-- card -->
   <div class="card" routerLink="/my-patients">

      <div class="icon"><i class="fas fa-users fa-3x"></i></div>
      <h5 class="title">Todos mis pacientes</h5>
      <h6 class="text">Revista todos tus pacientes</h6>

   </div>
   <!-- end card -->
   <!-- card -->
   <div class="card" routerLink="/medical-care">
      <div class="icon"><i class="fas fa-book-reader fa-3x"></i></div>
      <h5 class="title">Agenda</h5>
      <h6 class="text">Revista tu agendamiento de pacientes</h6>

   </div>
   <!-- end card -->


</div>

<app-data-table></app-data-table>