<div class="row">
    <div class="card mx-auto">
        <div class="card-body">
            <form (submit)="onSubmit()">
                <div class="form-group text-center">
                    <h1>Nuevo profesional</h1>
                    <i class="far fa-address-card fa-8x"></i>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <div class="list-group list-group-horizontal">
                                <button (click)="setGender('Masculino')" class="text-center list-group-item list-group-item-action" data-toggle="list" role="tab">
                                    <i class="fas fa-mars fa-3x"></i>
                                </button>
                                <button (click)="setGender('Femenino')" class="text-center list-group-item list-group-item-action" data-toggle="list" role="tab">
                                    <i class="fas fa-venus fa-3x"></i>
                                </button>
                                
                            </div>
                            

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <!--
                              <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-fingerprint"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.rut" name="rut" type="text" class="form-control"
                                    placeholder="Rut" aria-label="Rut" aria-describedby="addon-wrapping" required>
                            </div>  
                            -->
                            <mat-form-field appearance="outline">
                                <mat-label>Rut</mat-label>
                                <input type="text" maxlength="15" matInput [formControl]="rutFormControl"
                                    [errorStateMatcher]="matcher" placeholder="Ex. 11111111-1" [(ngModel)]="user.rut"
                                    name="rut">
                                <mat-icon matSuffix><i class="fas fa-fingerprint"></i></mat-icon>
                                <mat-error *ngIf="rutFormControl.hasError('required')">
                                    Rut es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!--
                                <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.age" name="age" type="text" class="form-control"
                                    placeholder="Edad" aria-label="age" aria-describedby="addon-wrapping" required>
                            </div>
                            -->
                            <mat-form-field appearance="outline">
                                <mat-label>Edad</mat-label>
                                <input maxlength="2" type="text" matInput [formControl]="ageFormControl"
                                    [errorStateMatcher]="matcher" placeholder="Ex. 23" [(ngModel)]="user.age"
                                    name="age">
                                <mat-icon matSuffix><i class="fas fa-user"></i></mat-icon>
                                <mat-error *ngIf="ageFormControl.hasError('required')">
                                    Edad es <strong>requerida</strong>
                                </mat-error>
                                <mat-error *ngIf="ageFormControl.hasError('pattern')">
                                    Porfavor, solo <strong>números positivos</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <!--
                                <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.firstName" name="firstName" type="text" class="form-control"
                                    placeholder="Nombre" aria-label="Name" aria-describedby="addon-wrapping" required>
                            </div>
                            -->
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input type="text" maxlength="15" matInput [formControl]="firstNameFormControl"
                                    [errorStateMatcher]="matcher" placeholder="Ex. John" [(ngModel)]="user.firstName"
                                    name="firstName">
                                <mat-icon matSuffix><i class="fas fa-user"></i></mat-icon>
                                <mat-error *ngIf="firstNameFormControl.hasError('required')">
                                    Nombre es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!--
                                <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.middleName" name="middleName" type="text" class="form-control"
                                    placeholder="Segundo nombre" aria-label="Middle name"
                                    aria-describedby="addon-wrapping" required>
                            </div>
                            -->
                            <mat-form-field appearance="outline">
                                <mat-label>Segundo nombre</mat-label>
                                <input type="text" maxlength="15" matInput [formControl]="middleNameFormControl"
                                    [errorStateMatcher]="matcher" placeholder="Ex. Carter" [(ngModel)]="user.middleName"
                                    name="middleName">
                                <mat-icon matSuffix><i class="fas fa-user"></i></mat-icon>
                                <mat-error *ngIf="middleNameFormControl.hasError('required')">
                                    Segundo nombre es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <!--
                                <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.lastName" name="lastName" type="text" class="form-control"
                                    placeholder="Apellido" aria-label="Last name" aria-describedby="addon-wrapping"
                                    required>
                            </div>
                            -->
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido paterno</mat-label>
                                <input type="text" maxlength="15" matInput [formControl]="lastNameFormControl"
                                    [errorStateMatcher]="matcher" placeholder="Ex. Alvarado" [(ngModel)]="user.lastName"
                                    name="lastName">
                                <mat-icon matSuffix><i class="fas fa-user"></i></mat-icon>
                                <mat-error *ngIf="lastNameFormControl.hasError('required')">
                                    Apellido paterno es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!--
                                <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.middleLastName" name="middleLastName" type="text"
                                    class="form-control" placeholder="Segundo apellido" aria-label="Last name"
                                    aria-describedby="addon-wrapping" required>
                            </div>
                            -->
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido materno</mat-label>
                                <input type="text" maxlength="15" matInput [formControl]="middleLastNameFormControl"
                                    [errorStateMatcher]="matcher" placeholder="Ex. Soto"
                                    [(ngModel)]="user.middleLastName" name="middleLastName">
                                <mat-icon matSuffix><i class="fas fa-user"></i></mat-icon>
                                <mat-error *ngIf="middleLastNameFormControl.hasError('required')">
                                    Apellido materno es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <!--
                                <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-at"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.email" name="email" type="text" class="form-control"
                                    placeholder="E-mail" aria-label="email" aria-describedby="addon-wrapping" required>
                            </div>
                            -->
                            <mat-form-field appearance="outline">
                                <mat-label>E-mail</mat-label>
                                <input type="email" maxlength="30" matInput [formControl]="emailFormControl"
                                    [errorStateMatcher]="matcher" placeholder="Ex. example@gmail.com" [(ngModel)]="user.email"
                                    name="email">
                                <mat-icon matSuffix><i class="fas fa-at"></i></mat-icon>
                                <mat-error
                                    *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Porfavor, ingrese un e-mail valido
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    E-mail es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!--
                                <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-phone-alt"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.phone" name="Teléfono" type="text" class="form-control"
                                    placeholder="Teléfono" aria-label="teléfono" aria-describedby="addon-wrapping"
                                    required>
                            </div>
                            -->

                            <mat-form-field appearance="outline">
                                <mat-label>Teléfono</mat-label>
                                <input type="text" maxlength="15" matInput [formControl]="phoneFormControl"
                                    [errorStateMatcher]="matcher" placeholder="Ex. Soto" [(ngModel)]="user.phone"
                                    name="Teléfono">
                                <mat-icon matSuffix><i class="fas fa-phone-alt"></i></mat-icon>
                                <mat-error *ngIf="phoneFormControl.hasError('required')">
                                    Teléfono es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!--
                        <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">
                                <i class="fas fa-asterisk"></i>
                            </span>
                        </div>
                        <input [(ngModel)]="user.address" name="address" type="text" class="form-control"
                            placeholder="Dirección" aria-label="Dirección" aria-describedby="addon-wrapping" required>
                    </div>
                    -->
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Dirección</mat-label>
                        <input type="text" maxlength="50" matInput [formControl]="addressFormControl"
                            [errorStateMatcher]="matcher" placeholder="Ex. Av. casas #21" [(ngModel)]="user.address"
                            name="address">
                        <mat-icon matSuffix><i class="fas fa-asterisk"></i></mat-icon>
                        <mat-error *ngIf="addressFormControl.hasError('required')">
                            Dirección es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <!--
                        <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">
                                <i class="fas fa-book-reader"></i>
                            </span>
                        </div>
                        <select [(ngModel)]="kine_data.specialization_fk" class="custom-select" name="dlSpecialization">
                            <option disabled selected>-- Selecciona tu especialización --</option>
                            <option value="{{row._id}}" *ngFor="let row of specializations">{{row.description}}</option>
                        </select>
                    </div>
                    -->
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Especialización</mat-label>
                        <mat-select [formControl]="specializationFormControl" [errorStateMatcher]="matcher"
                            [(ngModel)]="kine_data.specialization_fk" name="dlSpecialization">
                            <mat-option disabled>- Seleccione -</mat-option>
                            <mat-option style="z-index: 1000;" *ngFor="let row of specializations" [value]="row._id">
                                {{row.description}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="specializationFormControl.hasError('required')">
                            Especialización es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>

                </div>
                <hr>

                <div class="row">
                    <div class="ml-auto">
                        <button class="sky btn btn-smoke">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--SUCCESS MODAL-->
<div class="backdrop" [ngStyle]="{'display':successDisplay}"></div>
<div class="modal animated fadeInDown" [ngStyle]="{'display':successDisplay}" id="success-modal" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center font-18">
                <h3 class="mb-20">Exito!</h3>
                <div class="mb-30 text-center"><img src="../../../assets/success.png"></div>
                Felicitaciones, ya estas adentro.
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="sky btn btn-smoke" (click)="closeSuccess()" routerLink="/home">Ir al
                    menú</button>
            </div>
        </div>
    </div>
</div>

<!-- ALERT MODAL -->
<div class="backdrop" [ngStyle]="{'display':alertDisplay}"></div>
<div class="modal animated fadeInDown" [ngStyle]="{'display':alertDisplay}" id="alert-modal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content bg-danger text-white">
            <div class="modal-body text-center">
                <h3 class="text-white mb-15"><i class="fa fa-exclamation-triangle"></i> Algo ha salido mal:</h3>
                <h5>Porfavor, revisa los siguientes campos:</h5>
                <h6 *ngFor="let error of errors">
                    {{error}}
                </h6>
                <button type="button" class="smoke btn btn-smoke" (click)="closeAlert()">Ok</button>
            </div>
        </div>
    </div>
</div>