<div class="row">
    <div class="card mx-auto">
        <div class="card-body">
            <form (submit)="modal()">
                <div class="form-group text-center">
                    <h1>Nuevo paciente</h1>
                    <i class="far fa-address-card fa-8x"></i>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input [(ngModel)]="user.gender" value="Female" type="radio" id="customRadioInline1"
                                    name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">Female</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input [(ngModel)]="user.gender" value="Male" type="radio" id="customRadioInline2"
                                    name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Male</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-fingerprint"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.rut" name="rut" type="text" class="form-control"
                                    placeholder="Rut" aria-label="Rut" aria-describedby="addon-wrapping" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.age" name="age" type="text" class="form-control"
                                    placeholder="Edad" aria-label="age" aria-describedby="addon-wrapping" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.firstName" name="firstName" type="text" class="form-control"
                                    placeholder="Nombre" aria-label="Name" aria-describedby="addon-wrapping" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.middleName" name="middleName" type="text" class="form-control"
                                    placeholder="Segundo nombre" aria-label="Middle name" aria-describedby="addon-wrapping"
                                    required>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.lastName" name="lastName" type="text" class="form-control"
                                    placeholder="Apellido" aria-label="Last name" aria-describedby="addon-wrapping"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.middleLastName" name="middleLastName" type="text"
                                    class="form-control" placeholder="Segundo apellido" aria-label="Last name"
                                    aria-describedby="addon-wrapping" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-at"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.email" name="email" type="text" class="form-control"
                                    placeholder="E-mail" aria-label="email" aria-describedby="addon-wrapping" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-phone"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.phone" name="phone" type="text" class="form-control"
                                    placeholder="Telefono" aria-label="phone" aria-describedby="addon-wrapping" required>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-hospital"></i>
                                    </span>
                                </div>
                                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                                <select [(ngModel)]="patient_data.prevition" placeholder="dasds" name="prevition" class="prevition custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected value="selected" disabled>-- Seleccione prevision --</option>
                                    <option *ngFor="let item of previtions" [ngValue]="item">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fas fa-hospital"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="user.address" name="address" type="text" class="form-control"
                                    placeholder="Dirección" aria-label="address" aria-describedby="addon-wrapping" required>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <hr>

                <div class="row">
                    <div class="ml-auto">
                        <button class="btn-hover color-9"><i class="fas fa-save"></i> Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--SUCCESS MODAL-->
<div class="backdrop" [ngStyle]="{'display':successDisplay}"></div>
<div class="modal animated fadeInDown" [ngStyle]="{'display':successDisplay}" id="success-modal" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center font-18">
        <h3 class="mb-20">Paciente guardado</h3>
        <div class="mb-30 text-center"><img src="../../../assets/success.png"></div>
        Usted a agregado un nuevo paciente. Ya puede comenzar un nuevo tratamiento.
      </div>
      <div class="modal-footer container">
          <div class="row">
              <div class="col-6">
                <button type="button" class="btn-hover color-5 successbtn" (click)="closeSuccess()">Volver</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn-hover color-5 successbtn" (click)="closeSuccess()">Iniciar Tratamiento</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- ALERT MODAL -->
<div class="backdrop" [ngStyle]="{'display':alertDisplay}"></div>
<div class="modal animated fadeInDown" [ngStyle]="{'display':alertDisplay}" id="alert-modal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content bg-danger text-white">
      <div class="modal-body text-center">
        <h3 class="text-white mb-15"><i class="fa fa-exclamation-triangle"></i> Error:</h3>
        <h5>Se detectaron los siguientes errores:</h5>
        <h6 *ngFor="let error of errors">
          {{error}}
        </h6>
        <button type="button" class="btn-hover color-8" (click)="closeAlert()">Volver</button>
      </div>
    </div>
  </div>
</div>