/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
    background: url(assets/bg-index.png);
    font-family: 'Raleway', sans-serif;
    background-position: unset;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*BUTTONS **************************************************************************************/

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.smoke:hover,
.smoke:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.blood:hover,
.blood:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.air:hover,
.air:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}
.sky:hover,
.sky:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}



.smoke {
    --color: #ecf0f1;
    --hover: #2d3436;
  }
.raise {
  --color: #ecf0f1;
  --hover: #4cd137;
}

.sky {
    --color: #ecf0f1;
    --hover: #00a8ff;
  }

.air{
    --color: #dcdde1;
    --hover: #00a8ff;
}

.blood{
    --color: #dcdde1;
    --hover: #d63031;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.air{
    background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding:0px;
}
.air:hover, .air:focus{
    border-color: var(--hover);
  color: #fff;
}
.sky:hover, .sky:focus {
    border-color: var(--hover);
    color: #2d3436;
    background-color: #00a8ff;
  }
.raise:hover, .raise:focus {
  border-color: var(--hover);
  color: #2d3436;
  background-color: #4cd137;
}
.smoke:hover, .smoke:focus {
    border-color: var(--hover);
    color: #2d3436;
    background-color: #ffeaa7;
  }
  
  .blood:hover, .blood:focus {
    border-color: var(--hover);
    color: #2d3436;
    background-color: #d63031;
  }
button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    background-color: #34495e;
  }
  
  h1 {
    font-weight: 400;
  }
  
  code {
    color: #e4cb58;
    font: inherit;
}
  
.btn{
    border-radius: 0px;
    padding: 15px 30px;
}

.btn-smoke{
    background-color: #2d3436;
    color: #ecf0f1;
    font-size: medium;
}

.backdrop{
 
  background-color:rgba(0,0,0,0.6);
   z-index: 1000;
  position:fixed;
   
  top:0;
   
  left:0;
   
  width:100%;
   
  height:100vh;
   
  }



