<div class="row">
  <div class="card mx-auto">
    <div class="card-body">
      <form class="text-center" (submit)="onSubmit()">
        <div class="form-group text-center">
          <i class="fas fa-user-plus fa-8x"></i>
          <h1>Bienvenido! Crea tu cuenta</h1>
          <hr class="pb-2">
        </div>
        <div class="form-group pt-2">
          <!--
            <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input [(ngModel)]="login.username" name="username" type="text" class="form-control" placeholder="Username"
              aria-label="Username" aria-describedby="addon-wrapping" required>
          </div>
          -->
          <mat-form-field appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input type="text" maxlength="15" matInput [formControl]="userNameFormControl" [errorStateMatcher]="matcher"
              placeholder="Ex. j.rivera" [(ngModel)]="login.username" name="username">
            <mat-icon matSuffix><i class="fas fa-user"></i></mat-icon>
            <mat-error *ngIf="userNameFormControl.hasError('required')">
              Nombre de usuario es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <!--
<div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input [(ngModel)]="login.password" name="password" type="password" class="form-control"
              placeholder="Password" aria-label="password" aria-describedby="addon-wrapping" required>
          </div>
          -->
          <mat-form-field appearance="outline">
            <mat-label>Crea tu password</mat-label>
            <input type="password" maxlength="15" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
              placeholder="Ingresar password" [(ngModel)]="login.password" name="password">
            <mat-icon matSuffix><i class="fas fa-key"></i></mat-icon>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!--
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input [(ngModel)]="login.confirmPassword" name="confirmPassword" type="password" class="form-control"
              placeholder="Confirm password" aria-label="confirmPassword" aria-describedby="addon-wrapping" required>
          </div>
        -->
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Confirmar password</mat-label>
            <input type="password" maxlength="15" matInput [formControl]="confirmPasswordFormControl" [errorStateMatcher]="matcher"
              placeholder="Confirma tu password" [(ngModel)]="login.confirmPassword" name="confirmPassword">
            <mat-icon matSuffix><i class="fas fa-key"></i></mat-icon>
            <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
              Porfavor, <strong>confirma tu password</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <hr>
        <div class="row align-items-center">
          <div class="col-md-5">
            <a routerLink="/signin">Ya tienes una cuenta?</a>
            <hr>
            <a href="#">Olvidaste tu password?</a>
          </div>
          <div class="col-md-7">
            <button class="sky btn btn-smoke">Continuar ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--SUCCESS MODAL-->
<div class="backdrop" [ngStyle]="{'display':successDisplay}"></div>
<div class="modal animated fadeInDown" [ngStyle]="{'display':successDisplay}" id="success-modal" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center font-18">
        <h3 class="mb-20">Correcto!!</h3>
        <div class="mb-30 text-center"><img src="../../../assets/success.png"></div>
        Felicitaciones! En el siguiente paso, deberás ingresar tus datos personales.
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="sky btn btn-smoke" (click)="closeSuccess()" routerLink="/newUser">Siguiente paso
          ></button>
      </div>
    </div>
  </div>
</div>

<!-- ALERT MODAL -->
<div class="backdrop" [ngStyle]="{'display':alertDisplay}"></div>
<div class="modal animated fadeInDown" [ngStyle]="{'display':alertDisplay}" id="alert-modal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content bg-danger text-white">
      <div class="modal-body text-center">
        <h3 class="text-white mb-15"><i class="fa fa-exclamation-triangle"></i> Error:</h3>
        <h5>Se detectaron los siguientes errores:</h5>
        <h6 *ngFor="let error of errors">
          {{error}}
        </h6>
        <div class="row justify-content-center pt-4">
          <div class="col">
            <button type="button" class="smoke btn btn-smoke" (click)="closeAlert()"><i class="fas fa-undo"></i> Volver</button>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</div>