<footer class="text-center footer-style mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <h3>Dirección</h3>
                <p>
                    Ruta H10 - Chole <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sit eos incidunt aut quasi magni eum voluptas, ipsam quos numquam.
                </p>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Contacto</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dolore labore minima! Quo consectetur sapiente fugit reiciendis excepturi neque, vero itaque, necessitatibus tempore quis molestiae?</p>
                
            </div>
            <div class="col-md-4 footer-col">
                <h3>Informacion adicional</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, expedita ratione atque eligendi explicabo nesciunt.</p>
            </div>
        </div>
    </div>
  </footer>